# <br><br><span style="color:purple">Python Fundamentals Bootcamp - Monday</span>

#### <br>*This is a Jupyter Notebook. To run a gray code cell, click in the cell and either click on the "play" arrow, or type shift+enter (or shift+return on a Mac).*

In [2]:
print("Hello World!")

Hello World!

<br>When you type in the gray code cell and hit shift+enter, you **run** the code.
<br>If something gets printed out to the screen after you run the code, we say it is **returned**.

<br>Text cells like this one don't contain code. They are written in a language called Markdown. If you accidentally double click in a markdown cell, it won't cause any problems. Go ahead and double click on this text. Then you can run the cell, just like you would with a code cell, to return it to looking like nice formatted text.

## <br><br>Arithmetic operators

In [3]:
4 + 2

6

In [4]:
6 - 1

5

In [5]:
100 * 35

3500

In [6]:
40 / 6

6.666666666666667

To calculate an exponetial:

In [7]:
4 ** 2

16

<br>You might notice that I've included spaces around the operators: 
<br>`4 + 2`
<br>instead of
<br>`4+2`
<br><br>This is best practice in Python because it is more readable. The math would work without spaces, but it's a good idea to get into the habit of writing "Pythonic" code now!

#### <br><br>More division operators:

In [8]:
40 / 6

6.666666666666667

We gave it **integers** (whole number objects) and it returned a **float**. The `/` division operator always returns a float.

<br>Get just the integer, without the remainder:

In [9]:
40 // 6

6

Get just the remainder:

In [10]:
40 % 6

4

<br><span style="color:crimson">Like many things you'll learn this week, I'm not expecting you to memorize the operator for returning a remainder. If this is something you use a lot already in your research, you might memorize it now. But if not, I just want you to hear about it so that if you ever need it months from now, you might remember that there is a way to do it so that you can google it and find the right code.</span>

<br>More practice:

In [11]:
40 / 5

8.0

In [12]:
40 // 5

8

In [13]:
40 % 5

0

#### <br><br>Python follows the PEMDAS order of operations: (https://thehelloworldprogram.com/python/python-operators-order-precedence/)

In [14]:
40 / 5 + 2

10.0

In [15]:
40 + 2 * 6 - 1

51

In [16]:
(4 + 2) * (6 - 1)

30

Why did some lines of code return integers (30, 51) and one returned a float (10.0)? <br>The first line of code included division `/`, which you may remember always returns a float.

#### <br><br>Try out some math of your own:

## <br><br>Comparison operators

These return a **boolean** object: True or False.

In [17]:
3 > 2

True

In [18]:
3 < 2

False

In [19]:
3 >= 2

True

In [20]:
3 <= 2

False

To check if two things are **equal**, Python uses a double equals sign:

In [21]:
3 == 3

True

To check if two things are **not equal**, Python uses `!=`:

In [22]:
3 != 3

False

In [23]:
3 != 2

True

## <br><br>Logical operators

These also return a **boolean**.

`and` means both sides must be True to return True:

In [25]:
3 < 4 and 4 == 3

False

`or` means only one side must be True to return True:

In [26]:
4 < 3 or 4 == 4

True

`not` is another logical operator. It reverses the boolean that follows it:

In [27]:
not 2 == 2

False

<br><br>Before running these cells, try to guess if they will return True or False:

In [28]:
not 2 > 3 and not 2 == 2

False

In [29]:
not 2 > 3 or not 2 == 2

True

In [30]:
3 == 3 and not 3 != 3

True

## <br><br>String objects

A **string** is an object kind of like text. It is contained in double `"` or single `'` quotes (you can choose which you want to use, but I use double quotes, so that is what we will use for this bootcamp).

In [31]:
"Hello World"

'Hello World'

<br>Let's use our first function! It can be used on almost all classes of objects:

In [32]:
print("Hello World")

Hello World

<br>Strings can contain digits:

In [33]:
print("Hello World 2")

Hello World 2

<br>Strings can contain **special characters**. The most commonly used are new lines `\n`:

In [34]:
print("Hello World\nHow are you?")

Hello World
How are you?

<br>...and tabs `\t`:

In [35]:
print("Hello World\tHow are you?")

Hello World	How are you?

<br><br><br>If you simply **run** the string, it will return the string how it looks to the computer:

In [36]:
"Hello World\nHow are you?"

'Hello World\nHow are you?'

<br>...but if you use the `print()` function, it interprets the special characters and returns the string like this:

In [37]:
print("Hello World\nHow are you?")

Hello World
How are you?

<br><br>What happens if you forget the quotes around a string?

In [38]:
print(Hello World)

SyntaxError: invalid syntax (<ipython-input-38-10cb182148e3>, line 1)

<br>Our first error!! This is a common error - the `SyntaxError`. It often means that we forgot to type something.

In [39]:
pint("Hello World!")

NameError: name 'pint' is not defined

A `NameError` is another common error - it often means we've mispelled a function or variable.

<br><br>What error do you think we will get if we run this line of code?

In [40]:
print("Hello World)

SyntaxError: EOL while scanning string literal (<ipython-input-40-69ef97eb7c7b>, line 1)

<br><br><br>Some arithmetic operators work with strings. To combine two strings:

In [41]:
print("Hello" + "World")

HelloWorld

In [42]:
print("Hello " + "World")

Hello World

## <br><br>Converting between data types

<br>The `type()` function tells us the data type of an object (in Python, a data type is exactly the same thing as an object class):

In [43]:
type("Hello World")

str

In [44]:
type(9)

int

In [45]:
type(9.9)

float

In [46]:
type("9.9")

str

<br>We can convert objects from one type to another, using the appropriate function:

In [47]:
float(9)

9.0

In [48]:
float("5")

5.0

In [49]:
int("5")

5

In [50]:
int(5.7)

5

Notice it doesn't round when it converts a float to an integer, it just drops off everything after the decimal.

In [51]:
str(5.005)

'5.005'

In [52]:
float("Hello World")

ValueError: could not convert string to float: 'Hello World'

<br>Our third type of error! This error usually means you passed an argument to a function that it doesn't recognize. But don't spend any brainpower trying to memorize this error. Luckily the error message gives us information about what we did wrong.

## <br><br>Data types interacting

Before running each of these cells, try to guess what they will return:

In [53]:
4 * 4.0

16.0

In [54]:
"Hello World" * 4

'Hello WorldHello WorldHello WorldHello World'

In [55]:
"Hello World" + 4

TypeError: can only concatenate str (not "int") to str

<br>A TypeError means you tried to do something that doesn't work with the type of object you gave it. Sometimes ValueErrors and TypeErrors get thrown for similar errors.

In [56]:
"Hello World" + str(4)

'Hello World4'

In [57]:
5 + True

6

In [58]:
5 + False

5

<br><br>*True evaluates to 1, False evaluates to 0*

## <br><br><br>Variables

Variables allow you to store an object to use it later.

In [59]:
x = 3

Nothing is returned when you assign a variable. You can see the value of a variable by running the variable name or using the `print()` function

In [60]:
x

3

In [61]:
print(x)

3

<br>The single `=` is called an **assignment operator**.
<br>Everything on the right side of the assignment operator is calculated first, and then that value is stored as the variable on the left of the assignment operator.

In [62]:
x = 3 - 1

In [63]:
x

2

In [64]:
y = x

In [65]:
y

2

In [66]:
x = x**y

In [67]:
x

4

In [68]:
y

2

In [69]:
rabbit = 50

Variables can be used just like the objects they represent:

In [70]:
rabbit - 20

30

In [71]:
rabbit

50

In [72]:
greeting = "Hello you!"

In [73]:
greeting

'Hello you!'

In [74]:
print(greeting)

Hello you!

# <br><br>BACK TO THE SLIDES

## <br><br><br>String functions

In [75]:
greeting = "Hello you!"

In [76]:
print(greeting)

Hello you!

In [77]:
len(greeting)

10

In [78]:
greeting.replace("!", ".")

'Hello you.'

In [79]:
greeting.replace(" ", "")

'Helloyou!'

`""` is referred to as an **empty string**.

In [80]:
print(greeting)

Hello you!

Even though we ran code to change our greeting, the greeting variable still **points** to the original greeting. `greeting` did not change when we used the method functions even though a changed version of `greeting` was returned.

<br>To change the greeting, we would have to reassign the variable name:

In [81]:
greeting = greeting.replace("!", ".")

In [82]:
print(greeting)

Hello you.

In [83]:
big_greeting = greeting.upper()

In [84]:
print(big_greeting)

HELLO YOU.

In [85]:
small_greeting = greeting.lower()

In [86]:
print(small_greeting)

hello you.

In [87]:
my_name = "Colby"

In [88]:
greetMe = greeting.replace("you", my_name)

In [89]:
print(greetMe)

Hello Colby.

In [90]:
greetMe2 = "Hello " + my_name + "."
print(greetMe2)

Hello Colby.

*You might have noticed that I included two lines of code in that code cell. Jupyter Noteboooks can run multiple lines of code in a single code cell.*

<br>You will learn more string functions in today's homework.

## <br><br>Indexing strings

We can index strings to return a **substring**.

In [91]:
greeting = "Hello you!"

In [92]:
greeting[0:5]

'Hello'

In [93]:
hello = greeting[0:5]
print(hello)

Hello

In [94]:
hello[2]

'l'

*Remember, in Python we start indexing at 0, so the third letter in our string is indexed as 2.*

<br><br>We can also start indexing from the right end of the string. The number in the farthest right position can be indexed as -1:

In [95]:
hello[-1]

'o'

In [96]:
hello[-2]

'l'

In [97]:
hello[0:2]

'He'

*Remember, our variable is `hello`, but the string it has stored is "Hello" with a capital "H".*

<br><br>If we don't give any number after the `:`, Python will continue to the end of the string:

In [98]:
hello[3:]

'lo'

If we don't give any number before the `:`, Python will start at the beginning of the string:

In [99]:
hello[:2]

'He'

<br>We can also use negative numbers in indexing:

In [100]:
hello[2:-1]

'll'

In [101]:
hello[-3:-1]

'll'

In [102]:
"Hello"[-3:]

'llo'

# <br><br>BACK TO THE SLIDES